@page "/CAportes"
@inject AportesBLL aportesBLL;

<EditForm Model="listaAportes">
    <DataAnnotationsValidator />

    <div  class="row">
        <select class="form-control" @bind="Filtro">
            <option value="aportes.Persona" @onclick="Buscar">Persona</option>
            <option value="aportes.Fecha" @onclick="Buscar">Fecha</option>
        </select>
    </div>

    <label class="form-control">Criterio</label>
    <input type="text" class="form-control" @bind="Criterio">

    <div>
        <button type="button" @onclick="Buscar"> <i>Buscar</i>
        </button>
    </div>

    <table class="table">

        <thead>
            <tr>
                <th>AportesId</th>
                <th>Fecha</th>
                <th>Persona</th>
                <th>Observacion</th>
                <th>Monto</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var aportes in listaAportes)
            {
                <tr>
                    <td>@aportes.AportesId</td>
                    <td>@aportes.fecha</td>
                    <td>@aportes.Persona</td>
                    <td>@aportes.Observacion</td>
                    <td>@aportes.Monto</td>
                    <td><a href="aportes/@aportes.AportesId">Ver</a></td>
                </tr>
            }

        </tbody>

    </table>
</EditForm>

@code
{
    public string Filtro { get; set; } = "";
    public string Criterio { get; set; } = "";

    public List<Aportes> listaAportes { get; set; } = new List<Aportes>();
    public void Buscar()
    {
        listaAportes = aportesBLL.GetList(o => true);
    }

}